<h1>Add Club</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3"> 

		<form>
			<div class="form-group">
				<label>Club Name</label>
				<input type="text" class="form-control" placeholder="Enter Club">
			</div>
			
			<br><br>
			
			<div class="form-group">
				<label>Club Description</label>
				<input type="text" class="form-control" placeholder="Enter Description">
			</div>

			<br><br>

			<div class="form-group">
				<label>Club Meeting Location</label>
				<input type="text" class="form-control" placeholder="Enter Location">
				<label>Club Meeting Date</label>
				<input type="text" class="form-control" placeholder="Enter Date">
			</div>

			<br><br>

			<div class="form-group">
				<p>Executive Board Roster</p>
				<label>President</label>
				<input type="text" class="form-control" placeholder="Enter President">
				<label>Vice President</label>
				<input type="text" class="form-control" placeholder="Enter Vice President">
				<label>Treasurer</label>
				<input type="text" class="form-control" placeholder="Enter Treasurer">
				<label>Secretary</label>
				<input type="text" class="form-control" placeholder="Enter Secretary">
			</div>

			<button class="btn btn-default" type="submit">Add Club Information</button>

		</form>
	</div>
</div>