<h1>Edit Club</h1>
<form>
	<div class="form-group">
		<label>Club Name</label>
		<input type="text" class="form-control" placeholder="Enter Club" value="Computer Society">
	</div>
	
	<br><br>
	
	<div class="form-group">
		<label>Club Description</label>
		<input type="text" class="form-control" placeholder="Enter Description" value="A group designed with the worship of computer gods.">
	</div>

	<br><br>

	<div class="form-group">
		<label>Club Meeting Location</label>
		<input type="text" class="form-control" placeholder="Enter Location"value ="Murdock 120">
		<label>Club Meeting Date</label>
		<input type="text" class="form-control" placeholder="Enter Date"value="Fridays @ 3pm">
	</div>

	<br><br>

	<div class="form-group">
		<p>Executive Board Roster</p>
		<label>President</label>
		<input type="text" class="form-control" placeholder="Enter President"value="Steve Rogers">
		<label>Vice President</label>
		<input type="text" class="form-control" placeholder="Enter Vice President" value="Anthony Stark">
		<label>Treasurer</label>
		<input type="text" class="form-control" placeholder="Enter Treasurer" value="Henry Pym">
		<label>Secretary</label>
		<input type="text" class="form-control" placeholder="Enter Secretary" value="Peter Parker">
	</div>

	<button class="btn btn-default" type="submit">Update Club Information</button>

</form>
