<h1>About Us</h1>
<div class="div-center">
	<div class="row ">
		<div class="col-md-3">	</div>	

		<div class="col-md-6 jumbotron">
			<h2>Juan Luis Andujar</h2>
			<p>Juan Luis Andujar is the president of Latin American Society. He has always ben an avacado of campus clubs. He is in his se&#241;or year of Computer PseudoScience. Before he graduated he wanted to provide his beloved clubs an easy way to communicate with members and non-members alike.</p>
		</div>

		<div class="col-md-3">  </div>	
	</div>

	<div class="row ">
		<div class="col-md-3">	</div>	

		<div class="col-md-6 jumbotron">
			<h2>Patrick Charles Kelly</h2>
			<p> Patrick Charles Kelly is the president of Computer Society. He has always ben a supporter(mainly playing Soraka the banana) of Computer Society. He is in his junior/senior year of Computer PseudoScience. Before he doesn't graduate he wants to provide buphphette of clubs to all the to catere all the students. </p>
		</div>

		<div class="col-md-3">  </div>	
	</div>

</div>

