<h1>
Request Page
</h1>

<div class="jumbotron">
	<div class="row" >
		<div class="col-md-6 col-md-offset-3">
			<table class="table table-hover table-condensed" >
				<tr>
					<th>Sender</th>
					<th>Request Information</th>
					<th>Approve</th>
					<th>Deny</th>
				</tr>
				<tr>
					<td>Juan Andujar</td>
					<td>Invite from Latin American Society to join as Treasurer</td>
					<td><a class="btn btn-primary btn-sm" href="#" role="button" >Approve </a></td>
					<td><a class="btn btn-primary btn-sm" href="#" role="button" >Deny </a></td>
				</tr>
				<tr>
					<td>Patrick Kelly</td>
					<td>Invite from Computer Society to join as Vice-President</td>
					<td><a class="btn btn-primary btn-sm" href="#" role="button" >Approve </a></td>
					<td><a class="btn btn-primary btn-sm" href="#" role="button" >Deny </a></td>
				</tr>
			</table>
		</div>
	</div>
</div>


