<div class="row">
	<div class="col-md-3 col-md-offset-5">
		<table class= "table table-hover table-condensed">
				<tr>
					<th>Your Club Name</th>
					<th>Meeting Times</th>
				</tr>
				<tr>
					<td><%= link_to club.name, club %></td>
					<td><%= link_to club.meetTime, club %>
					<%= link_to club.meetLoc, club %></td>
				</tr>
		</table>
	</div>	
</div>



	