
<div class="row">
	<h1>Computer Society</h1>
</div>
<div class="row">
	<div class="col-sm-2 text-left">
		
		<p class = "btn btn-default">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			<%= link_to "Edit Club", clubEdit_path%>
		</p>
		
	</div>

	<div class="col-sm-8">

	</div>

	<!-- TODO Figure out how to do favorite functionality with AJAX-->
	<div class="col-sm-2 text-right">
		
		<p class = "btn btn-default">
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
			Favorite
		</p>
		
	</div>

</div>

<div class="row" >


	<div class="col-md-4 div-border"> Meetings and Events
		<table class="table table-condensed">
			<tr>
				<th>Location</th>
				<th>Description</th>
			</tr>
			<tr>
				<td>Murdock 120</td>
				<td>Computer Society General Meeting</td>
			</tr>
		</table>
	</div>

	<div class="col-md-4">Description
		<table class="table condensed">
			<tr>
				<th>Bio</th>
			</tr>
			<tr>
				<td>We love computers</td>
			</tr>


		</table>

	</div>


	<div class="col-md-4">Eboard
		<table class="table table-condensed" > 
			<tr> 
				<th>Member Name</th>
				<th>Position</th>
			</tr>

			<tr>
				<td>Patrick Kelly</td>
				<td>President</td>
			</tr>
		</table>
	</div>

</div>
