<h1>Edit Current Executive Members</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3"> 
		<%= form_for(@eboard) do |f| %>
			<%= f.label :User,'Select the User for '+ @execPo.position %>
			<%= f.select(:user_id, @user_options) %>

			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>
	</div>

</div>
